* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh ;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)) , url(../img/jane-last-k60YOEjB75k-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 10%;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #F44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 80%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 3rem;
}

.text-box p {
    margin: 5px 0;
    font-size: 1rem;
    color: #fff;
}





